@mixin respond-to($type, $query) {
  @media ($type: $query) {
    @content;
  }
}

@mixin respond-to-range($min-width, $max-width) {
  @media only screen and (min-width: $min-width) and (max-width: $max-width) {
    @content;
  }
}

@mixin abs-left($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
}

@mixin abs-right($top, $right) {
  position: absolute;
  top: $top;
  right: $right;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin vendorize($property, $value...) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
  #{$property}: $value;
}

@mixin transition-transform($seconds) {
  -webkit-transition: -webkit-transform $seconds;
  -moz-transition: -moz-transform $seconds;
  -ms-transition: -ms-transform $seconds;
  -o-transition: -o-transform $seconds;
  transition: transform $seconds;
}

.spin {
  display: inline-block;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 1s ease infinite;
  -ms-animation: spin 1s ease infinite;
  -o-animation: spin 1s ease infinite;
  animation: spin 1s ease infinite;
}

@include keyframes(spin) {
  0% {
    @include vendorize(transform, rotate(0deg));
  }
  100% {
    @include vendorize(transform, rotate(359deg));
  }
}
