// bower:scss
// endbower

@import "compass";
@import "mixins";

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: #FFFFFF;
  .loading-state {
    display: none;
  }
  &.loading {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .loading-state {
      @include abs-left(0, 0);
      @include size(100%, 100%);
      display: block;
      background-color: rgba(0, 0, 0, 0.75);
      z-index: 1000;
    }
  }
}

#main-nav {
  @include background-image(linear-gradient(#018ea4, #008ea4));
  border-color: #0f9db3;
  margin-bottom: 0;
  .navbar-brand {
    @include vendorize(transition, color 0.1s linear);
    color: rgba(255, 255, 255, 0.8);
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}

.location-bar {
  background-color: #262628;
  height: 50px;
  border-top: 1px solid #241515;
  border-bottom: 1px solid #241515;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  @include vendorize(transition, all 0.5s ease-in-out);
  position: absolute;
  left: 0;
  right: 0;
}

[ui-view].ng-enter {
  opacity: 0;
  @include vendorize(transform, scale3d(0.5, 0.5, 0.5));
}

[ui-view].ng-enter-active {
  opacity: 1;
  @include vendorize(transform, scale3d(1, 1, 1));
}

[ui-view].ng-leave {
  opacity: 1;
  @include vendorize(transform, translate3d(0, 0, 0));
}

[ui-view].ng-leave-active {
  opacity: 0;
  @include vendorize(transform, translate3d(100px, 0, 0));
}
