<nav class="navbar navbar-default navbar-static-top" role="navigation" id="main-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">REP<strong>DRIVE</strong></a>
    </div>
  </div>
</nav>

<div class="main-content">
  <ui-view></ui-view>
</div>

